:root{
    --primary-color:#64b5f6;
    --secondary-color:;
    --accent-color:;
    
    --title-font:'Roboto', sans-serif;

;
    --contnet-font:'Noto Sans', sans-serif;




    --title-size:1.3rem;

    --wrapper-spacing:0.3vw;    


    --success-color:;
    --warning-color:;
    --danger-color:;


    
}